bhunesh-backend/flows/payout.json
{
  "name": "Workflow 3 — Payout Processor",
  "nodes": [
    {
      "parameters": {
        "path": "payout",
        "httpMethod": "POST"
      },
      "name": "Payout Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claims WHERE id = '{{$json.claim_id}}';"
      },
      "name": "Fetch Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [400, 300],
      "credentials": {
        "postgres": {
          "id": "postgresql://neondb_owner:npg_7mQUOejGdH4I@ep-snowy-grass-a1wk1jtu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{$json.payout_amount}}",
              "operation": "greater",
              "value2": 0
            }
          ]
        }
      },
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO payouts (id, claim_id, worker_id, amount, upi_id, status, created_at) VALUES ('PAYOUT_' || FLOOR(RANDOM()*100000), '{{$json.id}}', '{{$json.worker_id}}', {{$json.payout_amount}}, 'demo@upi', 'PAID', NOW());"
      },
      "name": "Insert Payout",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [800, 200],
      "credentials": {
        "postgres": {
          "id": "postgresql://neondb_owner:npg_7mQUOejGdH4I@ep-snowy-grass-a1wk1jtu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE claims SET status='PAID' WHERE id='{{$json.id}}';"
      },
      "name": "Update Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1000, 200],
      "credentials": {
        "postgres": {
          "id": "postgresql://neondb_owner:npg_7mQUOejGdH4I@ep-snowy-grass-a1wk1jtu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Payout Webhook": {
      "main": [[{ "node": "Fetch Claim", "type": "main", "index": 0 }]]
    },
    "Fetch Claim": {
      "main": [[{ "node": "Is Approved?", "type": "main", "index": 0 }]]
    },
    "Is Approved?": {
      "main": [
        [{ "node": "Insert Payout", "type": "main", "index": 0 }],
        []
      ]
    },
    "Insert Payout": {
      "main": [[{ "node": "Update Claim", "type": "main", "index": 0 }]]
    }
  }
}