bhunesh-backend/flows/renew.json
{
  "name": "Policy Renewal Workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 9,
              "minute": 0
            }
          ]
        }
      },
      "id": "Weekly Trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM policies WHERE week_end < NOW() AND status = 'ACTIVE';"
      },
      "id": "Fetch Expired Policies",
      "name": "Fetch Expired Policies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [400, 300],
      "credentials": {
        "postgres": {
          "id": "postgresql://neondb_owner:npg_7mQUOejGdH4I@ep-snowy-grass-a1wk1jtu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$items().length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "IF Policies Exist",
      "name": "IF Policies Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "Split In Batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO policies (\n  id,\n  worker_id,\n  week_start,\n  week_end,\n  premium_paid,\n  coverage_cap,\n  risk_score,\n  status,\n  created_at\n)\nVALUES (\n  'POL_' || CAST(FLOOR(RANDOM()*1000000) AS TEXT),\n  '{{$json[\"worker_id\"]}}',\n  NOW(),\n  NOW() + INTERVAL '7 days',\n  {{$json[\"premium_paid\"]}},\n  {{$json[\"coverage_cap\"]}},\n  {{$json[\"risk_score\"]}},\n  'ACTIVE',\n  NOW()\n);"
      },
      "id": "Create New Policy",
      "name": "Create New Policy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 200],
      "credentials": {
        "postgres": {
          "id": "postgresql://neondb_owner:npg_7mQUOejGdH4I@ep-snowy-grass-a1wk1jtu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE policies SET status = 'EXPIRED' WHERE id = '{{$json[\"id\"]}}';"
      },
      "id": "Expire Old Policy",
      "name": "Expire Old Policy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 400],
      "credentials": {
        "postgres": {
          "id": "postgresql://neondb_owner:npg_7mQUOejGdH4I@ep-snowy-grass-a1wk1jtu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Fetch Expired Policies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expired Policies": {
      "main": [
        [
          {
            "node": "IF Policies Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Policies Exist": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Create New Policy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expire Old Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}